<section class="slide">
  <div class="wrapper">
    <br><br><br><br>
    <div class="container">
      <p class="display-1 text-center fw-bold">APROPOS DE KIT-HUB</p>
    </div>
  </div>
</section>
<section class="container">
  <br><br>
  <div><p class="display-6 text-center fw-bold"><mat-label class="anim-text">QUI NOUS SOMMES</mat-label></p></div>
  <br><br>
  <div class="row rs-1">
    <div class="col-sm-6 mt-3">
      <img src="assets/img/002.png" class="img-fluid" alt="">
    </div>
    <div class="col-sm-6 cs-1">
      <p class="historique-text">
        <!--<span class="h4">Historique</span><br><br>-->
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis repellendus sed atque voluptate eveniet libero,
        non velit at, ipsa laboriosam, enim fugit. Minima, eligendi non distinctio mollitia recusandae harum accusantium hic
        quia id quis provident vero aperiam illo, perspiciatis veniam consectetur nostrum dicta aspernatur expedita assumenda.
        Officiis facilis aliquam quod error impedit quis animi. Architecto veritatis enim itaque tempore mollitia asperiores
        doloremque non totam porro nam vitae et quos saepe facilis, assumenda similique? Sit cupiditate quae corrupti,
        facilis voluptatem eos reprehenderit officia atque vero sint ipsam iusto dolore? Itaque, numquam reiciendis!
        Rerum eaque commodi corrupti distinctio, quo mollitia enim et?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis repellendus sed atque voluptate eveniet libero,
        non velit at, ipsa laboriosam, enim fugit. Minima, eligendi non distinctio mollitia recusandae harum accusantium hic
        quia id quis provident vero aperiam illo, perspiciatis veniam consectetur nostrum dicta aspernatur expedita assumenda.
        Officiis facilis aliquam quod error impedit quis animi. Architecto veritatis enim itaque tempore mollitia asperiores
        doloremque non totam porro nam vitae et quos saepe facilis, assumenda similique? Sit cupiditate quae corrupti,
        facilis voluptatem eos reprehenderit officia atque vero sint ipsam iusto dolore? Itaque, numquam reiciendis!
        Rerum eaque commodi corrupti distinctio, quo mollitia enim et?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis repellendus sed atque voluptate eveniet libero,
        non velit at, ipsa laboriosam, enim fugit. Minima, eligendi non distinctio mollitia recusandae harum accusantium hic
        quia id quis provident vero aperiam illo, perspiciatis veniam consectetur nostrum dicta aspernatur expedita assumenda.
        Officiis facilis aliquam quod error impedit quis animi. Architecto veritatis enim itaque tempore mollitia asperiores
        doloremque non totam porro nam vitae et quos saepe facilis, assumenda similique? Sit cupiditate quae corrupti,
        facilis voluptatem eos reprehenderit officia atque vero sint ipsam iusto dolore? Itaque, numquam reiciendis!
        Rerum eaque commodi corrupti distinctio, quo mollitia enim et?
      </p>
    </div>
  </div>
</section>
<br>
<div class="sec-2">
  <br><br>
  <p class="display-6 text-center fw-bold"><mat-label class="anim-text">NOTRE VISION ET MISSION</mat-label></p><br>
  <div class="container">
    <div class="row rs-2">
      <div class="col-sm-6 cs-2">
        <p class="objectifif-text">
          <!--<span class="h4">Objectif</span><br><br>-->
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis repellendus sed atque voluptate eveniet libero,
          non velit at, ipsa laboriosam, enim fugit. Minima, eligendi non distinctio mollitia recusandae harum accusantium hic
          quia id quis provident vero aperiam illo, perspiciatis veniam consectetur nostrum dicta aspernatur expedita assumenda.
          Officiis facilis aliquam quod error impedit quis animi. Architecto veritatis enim itaque tempore mollitia asperiores
          doloremque non totam porro nam vitae et quos saepe facilis, assumenda similique? Sit cupiditate quae corrupti,
          facilis voluptatem eos reprehenderit officia atque vero sint ipsam iusto dolore? Itaque, numquam reiciendis!
          Rerum eaque commodi corrupti distinctio, quo mollitia enim et?
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis repellendus sed atque voluptate eveniet libero,
          non velit at, ipsa laboriosam, enim fugit. Minima, eligendi non distinctio mollitia recusandae harum accusantium hic
          quia id quis provident vero aperiam illo, perspiciatis veniam consectetur nostrum dicta aspernatur expedita assumenda.
          Officiis facilis aliquam quod error impedit quis animi. Architecto veritatis enim itaque tempore mollitia asperiores
          doloremque non totam porro nam vitae et quos saepe facilis, assumenda similique? Sit cupiditate quae corrupti,
          facilis voluptatem eos reprehenderit officia atque vero sint ipsam iusto dolore? Itaque, numquam reiciendis!
          Rerum eaque commodi corrupti distinctio, quo mollitia enim et?
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis repellendus sed atque voluptate eveniet libero,
          non velit at, ipsa laboriosam, enim fugit. Minima, eligendi non distinctio mollitia recusandae harum accusantium hic
          quia id quis provident vero aperiam illo, perspiciatis veniam consectetur nostrum dicta aspernatur expedita assumenda.
          Officiis facilis aliquam quod error impedit quis animi. Architecto veritatis enim itaque tempore mollitia asperiores
          doloremque non totam porro nam vitae et quos saepe facilis, assumenda similique? Sit cupiditate quae corrupti,
          facilis voluptatem eos reprehenderit officia atque vero sint ipsam iusto dolore? Itaque, numquam reiciendis!
          Rerum eaque commodi corrupti distinctio, quo mollitia enim et?
        </p>
      </div>
      <div class="col-sm-6">
        <img src="assets/img/30.png" class="img-fluid" alt="">
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <p class="text-white">AUTRE CHOSE</p>
            <p class="objectifif-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae et assumenda reprehenderit cupiditate!
              Eum explicabo porro reprehenderit numquam ipsum tenetur, enim, provident deserunt sit molestias ipsa cum
              optio adipisci asperiores voluptate ab libero! Tempora neque, vel maiores amet, iste, odit sunt deserunt
              laboriosam molestias ad obcaecati exercitationem cumque adipisci! At.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae et assumenda reprehenderit cupiditate!
              Eum explicabo porro reprehenderit numquam ipsum tenetur, enim, provident deserunt sit molestias ipsa cum
              optio adipisci asperiores voluptate ab libero! Tempora neque, vel maiores amet, iste, odit sunt deserunt
              laboriosam molestias ad obcaecati exercitationem cumque adipisci! At.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae et assumenda reprehenderit cupiditate!
              Eum explicabo porro reprehenderit numquam ipsum tenetur, enim, provident deserunt sit molestias ipsa cum
              optio adipisci asperiores voluptate ab libero! Tempora neque, vel maiores amet, iste, odit sunt deserunt
              laboriosam molestias ad obcaecati exercitationem cumque adipisci! At.
            </p>
          </div>
          <div class="col-sm-6">
            <p class="text-white">AUTRE CHOSE</p>
            <p class="objectifif-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae et assumenda reprehenderit cupiditate!
              Eum explicabo porro reprehenderit numquam ipsum tenetur, enim, provident deserunt sit molestias ipsa cum
              optio adipisci asperiores voluptate ab libero! Tempora neque, vel maiores amet, iste, odit sunt deserunt
              laboriosam molestias ad obcaecati exercitationem cumque adipisci! At.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae et assumenda reprehenderit cupiditate!
              Eum explicabo porro reprehenderit numquam ipsum tenetur, enim, provident deserunt sit molestias ipsa cum
              optio adipisci asperiores voluptate ab libero! Tempora neque, vel maiores amet, iste, odit sunt deserunt
              laboriosam molestias ad obcaecati exercitationem cumque adipisci! At.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae et assumenda reprehenderit cupiditate!
              Eum explicabo porro reprehenderit numquam ipsum tenetur, enim, provident deserunt sit molestias ipsa cum
              optio adipisci asperiores voluptate ab libero! Tempora neque, vel maiores amet, iste, odit sunt deserunt
              laboriosam molestias ad obcaecati exercitationem cumque adipisci! At.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sec-3">
  <div class="container">
    <br><br>
    <div class="row">
      <div class="col-sm-4 mt-3">
        <mat-card class="shadow-lg card-1">
          <p class="text-center h4 fw-bold">POUR QUOI KIT-HUB</p>
          <p class="objectifif-text text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur libero explicabo necessitatibus neque,
            rem odit voluptates asperiores cumque sunt voluptatem officia architecto consectetur pariatur placeat
            tempora, accusantium, velit eius illo amet aliquam vitae soluta temporibus quaerat. Iure inventore id
            ad esse voluptatum illo architecto, nam pariatur, quod fugit maiores nulla?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur libero explicabo necessitatibus neque,
            rem odit voluptates asperiores cumque sunt voluptatem officia architecto consectetur pariatur placeat
            tempora, accusantium, velit eius illo amet aliquam vitae soluta temporibus quaerat. Iure inventore id
            ad esse voluptatum illo architecto, nam pariatur, quod fugit maiores nulla?
          </p>
        </mat-card>
      </div>
      <div class="col-sm-4 mt-3">
        <mat-card class="shadow-lg card-2">
          <p class="text-center h4 fw-bold">BONNE PRATIQUE</p>
          <p class="objectifif-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur libero explicabo necessitatibus neque,
            rem odit voluptates asperiores cumque sunt voluptatem officia architecto consectetur pariatur placeat
            tempora, accusantium, velit eius illo amet aliquam vitae soluta temporibus quaerat. Iure inventore id
            ad esse voluptatum illo architecto, nam pariatur, quod fugit maiores nulla?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur libero explicabo necessitatibus neque,
            rem odit voluptates asperiores cumque sunt voluptatem officia architecto consectetur pariatur placeat
            tempora, accusantium, velit eius illo amet aliquam vitae soluta temporibus quaerat. Iure inventore id
            ad esse voluptatum illo architecto, nam pariatur, quod fugit maiores nulla?
          </p>
        </mat-card>
      </div>
      <div class="col-sm-4 mt-3">
        <mat-card class="shadow-lg card-3">
          <p class="text-center h4 fw-bold">PARTENAIRE</p>
          <p class="objectifif-text text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur libero explicabo necessitatibus neque,
            rem odit voluptates asperiores cumque sunt voluptatem officia architecto consectetur pariatur placeat
            tempora, accusantium, velit eius illo amet aliquam vitae soluta temporibus quaerat. Iure inventore id
            ad esse voluptatum illo architecto, nam pariatur, quod fugit maiores nulla?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur libero explicabo necessitatibus neque,
            rem odit voluptates asperiores cumque sunt voluptatem officia architecto consectetur pariatur placeat
            tempora, accusantium, velit eius illo amet aliquam vitae soluta temporibus quaerat. Iure inventore id
            ad esse voluptatum illo architecto, nam pariatur, quod fugit maiores nulla?
          </p>
        </mat-card>
      </div>
    </div>
    <br><br>
    <div class="row">
      <p class="display-6 text-center fw-bold">Autres particularités de KIT-HUB</p>
    </div>
  </div>
  <br><br><br><br>
    <div class="container-fluid">
      <div class="news-letter">
        <div class="letters">
          <br><br><br><br>
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <p class="h1">Recevez nos <br>News letters</p>
                <br><br><br><br>
                <p class="">KITHUB au service des Jeunes pour leurs <br>Idées Innovantes</p>
              </div>
              <div class="col-sm-6">
                <p class="h6">Newsletter</p>
                <form >
                  <mat-form-field class="width-exp text-white " appearance="outline" color="primary">
                    <mat-label>Email</mat-label>
                    <input  type="email" matInput placeholder="Ex. nyongeroclaude@gmail.com">
                  </mat-form-field><br><br>
                  <button mat-raised-button class="btn-send-news">SUBCRIBE</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <br><br>
</div>
