<div class="loading-footer">
  <div class="wrapper">
    <div class="container-fluid">
      <br><br><br><br>
      <div class="row">
        <div class="col-sm-3 mt-3">
          <!--<img src="assets/img/logokit.png" class="img-fluid" alt="" srcset="">-->
          <p class="footer-text">
            <i class="fa-solid fa-location-dot"></i>
            Bujumbura Lac Rweru, Kabondo Burundi
          </p>
          <p class="footer-text">
            <i class="fa-solid fa-envelope"></i>
            <a href="mailto:info@kit-hub.com">info@kit-hub.com</a>
          </p>
          <br><br><br>
          <div>Suivez nous </div><br>
          <p class="footer-text">
            <a href="mailto:"><i class="fa-brands fa-facebook fa-2x icons"></i></a>
            <a href="mailto:"><i class="fa-brands fa-twitter fa-2x icons-t"></i></a>
            <a href="mailto:"><i class="fa-solid fa-envelope fa-2x icons-g "  ></i></a>
          </p>
        </div>
        <div class="col-sm-3 mt-3">
          <p class="h4 footer-title">KITHUB</p>
          <ul>
            <li class="mt-3">Acceuil</li>
            <li class="mt-3">Apropos de nous</li>
            <li class="mt-3">Services</li>
            <li class="mt-3">Blog</li>
            <li class="mt-3">Contactez nous</li>
          </ul>
        </div>
        <div class="col-sm-3 mt-3">
          <p class="h4 footer-title"><i class="fa-solid fa-lines-leaning"></i>DOMAINE</p>
          <ul>
            <li class="mt-3">Programmation</li>
            <li class="mt-3">Entrepreunariat et leadership</li>
            <li class="mt-3">Genie civil</li>
            <li class="mt-3">Agriculture et elevage</li>
            <li class="mt-3">Energie renouverable</li>
            <li class="mt-3">Anglais avance</li>
          </ul>
        </div>
        <div class="col-sm-3 mt-3">
          <p class="h4 footer-title" > <i class="fa-solid fa-map-location-dot"></i>ADDRESS</p>
          <ul>
            <li class="mt-3">
              <i class="fa-solid fa-phone"></i>
              +25768184011
            </li>
            <li class="mt-3">
              <i class="fa-solid fa-envelope"></i>
              info@kit-hub.com
            </li>
            <li class="mt-3">
              <i class="fa-solid fa-location-dot"></i>
              Bujumbura Lac Rweru, Kabondo Burundi
            </li>
          </ul>
          <div>
            <!--<div class="fixed-bottom">
              <button mat-stroked-button class="btn-btm-fixed">
                <app-backtop-botton></app-backtop-botton>
              </button>
            </div>-->
          </div>
        </div>
      </div>
    </div>
    <div class=" container footer-linen text-center" style="height:80px">
      <hr class="text-white">
      <div>Copyright ©2022 All rights reserved | Kithub | Designed by Innotech Impact</div>
    </div>
  </div>
</div>
