<section class="header">
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <div class="container">
          <img src="assets/img/logokit.png" width="100px" height="auto" alt="">
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">BIENVENU A TOUS :)</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#home">ACCEUIL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about#about">APROPOS DE NOUS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">DOMAINE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">PROGRAMME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">BLOG</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</section><br><br><br><br>
<section class="slide">
  <div class="wrapper">
    <div class="d-flex flex-column justify-content-center align-content-center text-center h-100">
      <p class="display-1 welcome-msg">KIT-HUB</p>
      <p class="display-6 welcome-msg">( <span class="text-k">K</span>NOWLEDGE AND <span class="text-i">I</span>MAPCT <span class="text-t">T</span>RADE <span class="text-hub">HUB</span> )</p>
      <p class="h4 welcome-msg">( Innovation and Social Impact )</p>
      <br><br><br>
      <div>
        <button mat-stroked-button class="nav-btn"> <a href="/about#about">SAVOIR PLUS</a></button>
      </div>
    </div>
  </div>
</section>
