<mat-toolbar class="fixed-top c-toolbar shadow-lg">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="text-white">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>home</mat-icon>
      <small><a routerLink="/">HOME</a></small>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon>accessibility</mat-icon>
      <small><a routerLink="about">APROPOS DE NOUS</a></small>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon>domain</mat-icon>
      <small><a routerLink="domaine">DOMAINE</a></small>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon>calendar_today</mat-icon>
      <small><a routerLink="programme">PROGRAMMES</a></small>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon>language</mat-icon>
      <small>BLOG</small>
    </button>
  </mat-menu>
  <div>
    <a routerLink="/">
      <img src="assets/img/Logokitwhit.png" width="100px" height="60px" alt="">
    </a>
  </div>
</mat-toolbar>


