<section class="slide">
  <div class="wrapper">
    <br><br><br><br>
    <div class="container">
      <p class="display-1 text-center fw-bold">KIT-HUB</p>
      <br><br><br><br><br><br>
      <p class="text-center h6">KNOWLEDGE AND IMPACT TRADE HUB</p>
      <p class="text-center">innovation and social impact</p>
      <br><br><br><br><br><br><br><br>
      <div>
        <p class="text-center"><a routerLink="/about" mat-stroked-button class="ready-more">LIRE PLUS</a></p>
      </div>
    </div>
  </div>
</section>
<section class="cont-sec" id="home">
  <div class="container">
    <br><br><br><br>
    <div><p class="display-1 text-center"><mat-label class="anim-domaine">PROGRAMMES</mat-label></p></div>
    <br><br><br>
    <div class="row">
      <div class="col-sm-6">
        <mat-card class="shadow-lg card-anim mt-3">
          <mat-card-header>
            <mat-card-title>
              <p class="display-6">Fem Dev</p>
            </mat-card-title>
          </mat-card-header>
          <img src="assets/img/femme_dev.png" class="img-fluid" alt="" srcset="">
          <mat-card-content>
            <p class="text-femm-dev">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
              quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
              delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
              quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
              ratione porro magnam quam beatae tenetur!</p>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <a routerLink="/programme" mat-stroked-button class="more-btn">VOIR PLUS</a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm-6">
        <mat-card class="shadow-lg card-anim mt-3">
          <mat-card-header>
            <mat-card-title><p class="display-6">Digital Community</p></mat-card-title>
          </mat-card-header>
          <img src="assets/img/femme_dev.png" class="img-fluid" alt="" srcset="">
          <mat-card-content>
            <p class="text-femm-dev">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
              quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
              delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
              quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
              ratione porro magnam quam beatae tenetur!</p>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <a routerLink="/programme" mat-stroked-button class="more-btn">VOIR PLUS</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <br><br>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="assets/img/logokit.png" class="img-fluid kithub-logo" alt="" srcset="">
      </div>
      <div class="col-sm-6">
        <p class="display-4"> <mat-label class="nos-prog">APROPOS DE NOUS</mat-label></p>
        <p class="text-femm-dev">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
          quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
          delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
          quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
          ratione porro magnam quam beatae tenetur!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
          quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
          delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
          quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
          ratione porro magnam quam beatae tenetur!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
          quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
          delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
          quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
          ratione porro magnam quam beatae tenetur!
        </p>
        <div class="text-center">
          <a routerLink="/about" mat-stroked-button class="more-btn">VOIR PLUS</a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container-fluid">
    <br><br>
    <div class="display-1 text-center"><mat-label class="anim-domaine">DOMAINES</mat-label></div>
    <br><br>
    <div class="row">
      <div class="col-sm-4 mt-3">
        <mat-card class="shadow-lg  mt-3">
          <mat-card-content>
            <div class="container-fluid">
              <div class="row">
                <img src="assets/img/32.png" class="img-fluid" alt="">
              </div>
              <div class="row">
                <p class="text-center fw-bold h1 one-char">I</p>
              </div>
            </div>
            <p class="text-center h2 nos-prog">Innovation et impact social</p>
            <p class="text-femm-dev">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
              quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
              delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
              quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
              ratione porro magnam quam beatae tenetur!</p>
          </mat-card-content>
          <mat-card-actions class="text-center"></mat-card-actions>
        </mat-card>
      </div>
      <br><br>
      <div class="col-sm-4 mt-3">
        <mat-card class="shadow-lg mt-3 mt-3">
          <mat-card-content>
            <div class="container-fluid">
              <div class="row">
                <img src="assets/img/15.png" class="img-fluid" alt="">
              </div>
              <div class="row">
                <p class="text-center fw-bold h1 one-char">R</p>
              </div>
            </div>
            <p class="text-center h2 nos-prog">Reivention de la main d'oeuvre locale</p>
            <p class="text-femm-dev">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
              quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
              delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
              quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
              ratione porro magnam quam beatae tenetur!</p>
          </mat-card-content>
          <mat-card-actions class="text-center"></mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm-4 mt-3">
        <mat-card class="shadow-lg  mt-3">
          <mat-card-content>
            <div class="container-fluid">
              <div class="row">
                <img src="assets/img/25.png" class="img-fluid" alt="">
              </div>
              <div class="row">
                <p class="text-center fw-bold h1 one-char">C</p>
              </div>
            </div>
            <p class="text-center h2 nos-prog">Creation d'emplois</p>
            <p class="text-femm-dev">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
              quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
              delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
              quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
              ratione porro magnam quam beatae tenetur!</p>
          </mat-card-content>
          <mat-card-actions class="text-center">

          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <br><br>
    <div class="text-center">
      <a routerLink="/domaine" mat-stroked-button class="more-btn">VOIR PLUS</a>
    </div>
    <br><br>
    <hr>
  </div>
  <div class="container-fluid our-equip">
    <br><br>
    <div class="display-1 text-center"><mat-label class="anim-domaine">NOTRE EQUIPE</mat-label></div>
    <br><br>
    <div class="row">
      <div class="col-md-4 mt-3">
        <mat-card class="shadow-lg">
          <mat-card-content>
            <img [src]="img_one_url" class="img-fluid img-ani" alt="" srcset="">
            <br>
            <div>
              <br>
              <p class="h6 text-center">Chris Clement IGIRANEZA</p>
              <p>Fondateur et president de Kithub</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-2 mt-3">
        <mat-card class="shadow-lg">
          <mat-card-content>
            <img [src]="img_one_url" class="img-fluid img-ani" alt="" srcset="">
            <br>
            <div>
              <br>
              <p class="h6 text-center">Mme Erica NGABIRE</p><br>
              <p>Vice President Brand Ambassador</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-2 mt-3">
        <mat-card class="shadow-lg">
          <mat-card-content>
            <img [src]="img_one_url" class="img-fluid img-ani" alt="" srcset="">
            <br>
            <div>
              <br>
              <p class="h6 text-center">Mr NZEYIMANA Hassan</p><br>
              <p>Brand Ambassador</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-2 mt-3">
        <mat-card class="shadow-lg">
          <mat-card-content>
            <img [src]="img_one_url" class="img-fluid img-ani" alt="" srcset="">
            <br>
            <div>
              <br>
              <p class="h6 text-center">Mr NINTUNZE Evariste</p><br>
              <p>Representant Legal de Kithub</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-2 mt-3">
        <mat-card class="shadow-lg">
          <mat-card-content>
            <img [src]="img_one_url" class="img-fluid img-ani" alt="" srcset="">
            <br>
            <div>
              <br>
              <p class="h6 text-center">Mr Alimasi Ferdinand Ernest</p><br>
              <p>Responsable Innovation</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <br><br>
  <hr>
  <div class="container-fluid">
    <div class="display-1 text-center"> <mat-label class="anim-domaine">EVENEMENTS</mat-label></div><br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mt-3">
          <mat-card class="shadow-lg">
            <mat-card-header>
              <mat-card-subtitle class="sub-title text-center"> <a routerLink="http://" >evenement</a></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div>
                <a routerLink="http://"><img [src]="event_img_one" class="img-fluid event-img" alt=""></a>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <p>Event name : ........</p>
              <p>Event Date and time</p>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-sm-6 mt-3">
          <mat-card class="shadow-lg">
            <mat-card-header>
              <mat-card-subtitle class="sub-title text-center"><a routerLink="http://" >evenement</a></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div>
                <a routerLink="http://"><img [src]="event_img_two" class="img-fluid event-img" alt=""></a>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <p>Event name : ........</p>
              <p>Event Date and time</p>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div class="text-center mt-3">
        <button mat-stroked-button class="event-btn">VOIR LES EVENEMENTS</button>
      </div>
    </div>
  </div>
  <br><br><br>
  <hr>
  <br><br><br><br>
  <div class="last-news">
    <div class="display-1 text-center"> <mat-label class="anim-last-news">DERNIERES NOUVELLES</mat-label></div><br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mt-3">
          <div class="last-news-img">
            <br>
            <div class="small-text text-center">
              <small>ANNONCE</small>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <p class="h1 text-white">Event name....</p>
            <p class="h6 text-white">Date and time</p>
          </div>
        </div>
        <div class="col-sm-6 mt-3">
          <div class="last-news-img_two">
            <br>
            <div class="small-text text-center">
              <small>ANNONCE</small>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <p class="h1 text-white">Event name....</p>
            <p class="h6 text-white">Date and time</p>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
  <hr>
  <div class="container-fluid">
    <br><br>
    <div class="display-1 text-center"><mat-label class="anim-domaine">NOS PARTENAIRES</mat-label></div><br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm-2 mt-3"><button mat-raised-button class="btn-paternaire" (click)="show_all()" >Tous</button></div>
        <div class="col-sm-2 mt-3"><button mat-raised-button class="btn-paternaire" (click)="show_burundi()" >Burundi</button></div>
        <div class="col-sm-2 mt-3"><button mat-raised-button class="btn-paternaire" (click)="show_tanzanie()" >Tanzanie</button></div>
        <div class="col-sm-2 mt-3"><button mat-raised-button class="btn-paternaire" (click)="show_france()" >France</button></div>
        <div class="col-sm-2 mt-3"><button mat-raised-button class="btn-paternaire" (click)="show_russie()" >Russie</button></div>
        <div class="col-sm-2 mt-3"><button mat-raised-button class="btn-paternaire" (click)="show_usa()" >Usa</button></div>
      </div>
    </div>
    <div class="container mt-3">
      <div id="tous" *ngIf="tous">
        <p>Tous nos partenaire !</p>
      </div>
      <div id="burundi" *ngIf="burundi">
        <p>Nos partenaire au burundi</p>
      </div>
      <div id="tanzanie" *ngIf="tanzanie">
        <p>Nos partenaire en tanzanie</p>
      </div>
      <div class="france" *ngIf="france">
        <p>Nos partenaire en france </p>
      </div>
      <div id="russie" *ngIf="russie">
        <p>Nos partenaire en russie</p>
      </div>
      <div class="usa" *ngIf="usa">
        <p>Nos partenaire aux usa </p>
      </div>
    </div>
    <br><br><br><br>
    <hr>
    <div class="container-fluid">
      <app-news-letters></app-news-letters>
    </div>
    <br><br>
  </div>
</section>

